In [2]:
# HIDDEN

from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

cones = Table.read_table('cones.csv')
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture video at hand so that you can go over the discussion along with the code. Thank you!

## Python ##

In [3]:
2 + 3

5

## Names ##

In [4]:
a = 10

In [5]:
a

10

In [6]:
b = 7

In [7]:
b

7

In [8]:
hours_per_week = 40
weeks_per_year = 52

In [9]:
total_hours = hours_per_week * weeks_per_year

In [10]:
total_hours

2080

In [11]:
ca_hourly_minimum_wage = 10.50

In [12]:
total_wages = total_hours * ca_hourly_minimum_wage

total_wages

21840.0

In [16]:
ca_hourly_minimum_wage = 12.00

In [17]:
total_wages = total_hours * ca_hourly_minimum_wage

total_wages

24960.0

## Functions ##

In [13]:
abs(-5)

5

## Tables ##

In [14]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [15]:
# This table can be found online: 
# https://www.statcrunch.com/app/index.php?dataid=1843341

# NBA players, 2015-2016 season

nba

PLAYER           | POSITION | TEAM          | SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)