In [1]:
from datascience import *
import numpy as np

nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')

## Review ##

In [2]:
nba

PLAYER           | POSITION | TEAM          | SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [4]:
point_guards = nba.where('POSITION', 'PG')

In [5]:
point_guards

PLAYER          | POSITION | TEAM              | SALARY
Jeff Teague     | PG       | Atlanta Hawks     | 8
Dennis Schroder | PG       | Atlanta Hawks     | 1.7634
Avery Bradley   | PG       | Boston Celtics    | 7.73034
Isaiah Thomas   | PG       | Boston Celtics    | 6.91287
Marcus Smart    | PG       | Boston Celtics    | 3.43104
Terry Rozier    | PG       | Boston Celtics    | 1.82436
Jarrett Jack    | PG       | Brooklyn Nets     | 6.3
Shane Larkin    | PG       | Brooklyn Nets     | 1.5
Kemba Walker    | PG       | Charlotte Hornets | 12
Brian Roberts   | PG       | Charlotte Hornets | 2.85494
... (75 rows omitted)

In [6]:
point_guards.drop('POSITION')

PLAYER          | TEAM              | SALARY
Jeff Teague     | Atlanta Hawks     | 8
Dennis Schroder | Atlanta Hawks     | 1.7634
Avery Bradley   | Boston Celtics    | 7.73034
Isaiah Thomas   | Boston Celtics    | 6.91287
Marcus Smart    | Boston Celtics    | 3.43104
Terry Rozier    | Boston Celtics    | 1.82436
Jarrett Jack    | Brooklyn Nets     | 6.3
Shane Larkin    | Brooklyn Nets     | 1.5
Kemba Walker    | Charlotte Hornets | 12
Brian Roberts   | Charlotte Hornets | 2.85494
... (75 rows omitted)

In [7]:
point_guards

PLAYER          | POSITION | TEAM              | SALARY
Jeff Teague     | PG       | Atlanta Hawks     | 8
Dennis Schroder | PG       | Atlanta Hawks     | 1.7634
Avery Bradley   | PG       | Boston Celtics    | 7.73034
Isaiah Thomas   | PG       | Boston Celtics    | 6.91287
Marcus Smart    | PG       | Boston Celtics    | 3.43104
Terry Rozier    | PG       | Boston Celtics    | 1.82436
Jarrett Jack    | PG       | Brooklyn Nets     | 6.3
Shane Larkin    | PG       | Brooklyn Nets     | 1.5
Kemba Walker    | PG       | Charlotte Hornets | 12
Brian Roberts   | PG       | Charlotte Hornets | 2.85494
... (75 rows omitted)

In [8]:
point_guards = point_guards.drop('POSITION')

In [11]:
point_guards.sort('SALARY', descending=True).show()

In [14]:
(((nba.where('POSITION', 'PG')).drop('POSITION')).sort('SALARY', descending=True)).show(15)

In [15]:
(((nba.where('position', 'PG')).drop('POSITION')).sort('SALARY', descending=True)).show(15)

ValueError: label "position" not in labels ('PLAYER', 'POSITION', 'TEAM', 'SALARY')

In [16]:
nba.drop('POSITION').where('POSITION', 'PG')

ValueError: label "POSITION" not in labels ('PLAYER', 'TEAM', 'SALARY')

## Numbers ##

In [17]:
30

30

In [18]:
10 * 3    # int

30

In [20]:
10 / 3    # float

3.3333333333333335

In [21]:
10 / 2

5.0

In [22]:
10 ** 3

1000

In [23]:
10 ** 0.5

3.1622776601683795

In [25]:
1234567 ** 890

2805763342107369230793809808310885724030151698643898788380662816980113897853769505682553341995361840866283163839674938063847465098181599413516030923830315020297429114484842472806037601633183177392342419552281446098882333113360498936060689417981060580169581781517081000887466986920196787365735472976637384790660527656183529108057677628812897898917415727467403873251697100284318113613171090832770107627373429297578100452541331137972394395518879748252497629953169189742546688743838014842998797222488578482742255590278830326264415887042424349338336685586108014796843647297854686632059611017792593114133643766176826645471505135284339608286440790108605114687261446214106703238304626747430320283170505623593598192482183253323227473361217459497593514576103139354263910235117552944853835259328240635891089203247501395301794244132584186874755797831852390704417457044048557568618633160284149583340352686512009611975784239859264336878392387482791049156912854159715516214706166214466230037339823780492774337274675800289580696315819494418004733412855205155027918058344891850668473780787520539851110601937177777258527635476258052342827179765186381834973522303136829852834242679559888371990546547773735142872611383102742753311234958929602179017609453450788021576889968090558526946002867067155433937025164603278496325064732080655085967120552122358643425906339419468088785812576641170399781555198518542228755764090812514788163758877228031474626249982320173230513790766211051807071509018394299594496298553425032888639575233308427922962072691110016410832613254845558533479779137394546533348267260208654147664661662489837722166465535984470300130195361526724657999247737664119545166367970118960539653700728246780841243422865927822029745430687779341494835511048331091708435435810632677284968867671217350609932555531424276428454845446681148799804144451127195396670373733155503688440766376117308145231339204514518114182442669726926958460263504747823171357759585770665369994677944653246927717262087721616975390825217507408220510861018634338133464060418295047933927635868626199925788463191380080935701443847346532746838349449833204183719520425273508461427363268810901816439207520602455792069406367821658839121277649227555623273564677301331404339603368354187279170542954088017099056552277230318062383216542056927422226999811205450549485589246237819874869638917303541644714356081602468616512144027808621669917967523298847733280998188849126660410144516840751121177122218727312917235905337333060556516611924333661893530040067042505379294125436401184352256775565463142705637306783871882313794728831427529583150846149427004802322087788357968992264438692993009809883875465518646172470495839410492599060455716367637440364630131471750106709132465895371670412945256073822697903510522211765697295922053593229276419226531331408317896936830655815873666355197305378708964668209899291344705444276333578719323904170952074328643811404544256843025709425474387814973960542018630128201161272329024792011740745530212579878161378961127918038096648026162029808878747866210894432543002029434565613132355043777385763831238060952363449797871761622541777453653784081456719940419766751192867804269268505636574832199689538986715250742630200523490339094085425178568698903268320220973567490288420919261018482168538171910000711992076873681129307598675285503345960161016391830728260326693428202177160119543736800344297771481079627076988031975978575895647654221558620092991884687091862613605722144271490738163190650508558761186844994717152403269557878581184075275936408939256017646715559306260196259010170427037361073267573147026510628695621128132172515464076418742940103113964611681699407950967774413428184355249041334714765827480675899800235537773385443229622067233523354213261412403375030932576886654499317808172035910623439488923497729990034132955991616175315301110003136655552464696428279778365477406164307525011119783055047664864798818426307604172381073695798688377889193415423645042188927398145864445871680431617772823584658707705057426132797633601281478887542871708884776132993498113629791075212269131263135104211901928478309667400642477145201362433365658578707267018122388906853103264797837550314906826327964589811537800151348078278689526492266541600168152334174087551992509222975658050902151573849522445074588731109036554789680280345720046009120507928152632018078697710120218368147570599141031673300682348326156497244011574817802187099834880327346210624556369660018678859929271654108596951193479453034452114779847850504280525490303492730731848704497321639579545359051407002629069912400518470707512308477494989006390249351273561453957767103749105099486859441823499120103359974562095361878219993785312682108204349115081403854873968693651144816992008787094413654541840750267945428940655147102103776877924495354589674471203663800973702240269677784610346010441824261817763592599870546594987128802020889878623694800247575251661439276157008847529529237192162577463356503617323132760079688627706444510425779441871297035026396768851129501722454220316418777074912838238391162658683371634959415544181384058154251960767217101632139258312150904777623156788937309713540569306765232165671618935868039816292110221657560493742908804867952618200515005539316960724088551539133626302522557345413249384658492371698805093289004717340532810196692880918816862832405941920828302568461913904088702147654713878056218117011839094769918168741678648022940613796829566893389100562532347981860917540264049

In [26]:
10 / 3

3.3333333333333335

In [27]:
75892745.215489247589274985712

75892745.21548925

In [28]:
75892745.215489247589274985712 - 75892745.21548925

0.0

In [30]:
(13 ** 0.5) ** 2

12.999999999999998

In [33]:
int(10 / 5)

2

In [34]:
int(10 / 4)

2

In [35]:
float(3)

3.0

In [36]:
6 / 4

1.5

In [38]:
6 / 4000

0.0015

In [39]:
6 / 400000000000000000000000000000000000000000000000000000000

1.5e-56

In [40]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

6.0

In [41]:
1.5e-56

1.5e-56

In [42]:
x = 5

In [43]:
2x

SyntaxError: invalid syntax (<ipython-input-43-2e585cac9259>, line 1)

In [44]:
2 * x

10

In [47]:
round(3.7)

4

In [49]:
round(2.00000052345324, 2)

2.0

In [50]:
10 * 3.0

30.0

## Strings ##

In [51]:
'Flavor'

'Flavor'

In [52]:
Flavor

NameError: name 'Flavor' is not defined

In [53]:
"Flavor"

'Flavor'

In [54]:
"hey y'all"

"hey y'all"

In [55]:
'hey y'all'

SyntaxError: invalid syntax (<ipython-input-55-62f736c5d047>, line 1)

In [56]:
'straw' + 'berry' # concatenation

'strawberry'

In [57]:
'ha' * 100

'hahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahaha'

In [59]:
'lo' * 5.5

TypeError: can't multiply sequence by non-int of type 'float'

In [60]:
'ha' + 10

TypeError: must be str, not int

In [61]:
int('3')

3

In [62]:
int('3.0')

ValueError: invalid literal for int() with base 10: '3.0'

In [63]:
float('3.0')

3.0

In [64]:
str(3)

'3'

In [65]:
str(4.5)

'4.5'

## Types ##

In [66]:
type(10)

int

In [67]:
a = 10

In [68]:
type(a)

int

In [69]:
type(4.5)

float

In [70]:
type('abc')

str

In [71]:
type(nba)

datascience.tables.Table

In [72]:
type(True)

bool

In [73]:
type(abs)

builtin_function_or_method

## Arrays ##

In [75]:
my_array = np.array([1, 2, 3, 4])

In [76]:
my_array

array([1, 2, 3, 4])

In [77]:
my_array * 2

array([2, 4, 6, 8])

In [78]:
my_array ** 2

array([ 1,  4,  9, 16])

In [79]:
my_array + 1

array([2, 3, 4, 5])

In [80]:
my_array

array([1, 2, 3, 4])

In [81]:
another = np.array([5, 6, 7, 8])

In [82]:
my_array + another

array([ 6,  8, 10, 12])

In [83]:
yet_another = np.array([5, 6, 7])

In [84]:
my_array + yet_another

ValueError: operands could not be broadcast together with shapes (4,) (3,)

In [85]:
str_array = np.array(['ha', 'he', 'ho'])

In [86]:
str_array * 4

TypeError: ufunc 'multiply' did not contain a loop with signature matching types dtype('<U3') dtype('<U3') dtype('<U3')

In [88]:
sum(my_array)

10

In [89]:
np.average(my_array)

2.5

In [87]:
len(my_array)

4

## Columns of Tables are Arrays ##

In [90]:
warriors = nba.where('TEAM', 'Golden State Warriors')

In [91]:
warriors

PLAYER            | POSITION | TEAM                  | SALARY
Klay Thompson     | SG       | Golden State Warriors | 15.501
Draymond Green    | PF       | Golden State Warriors | 14.2609
Andrew Bogut      | C        | Golden State Warriors | 13.8
Andre Iguodala    | SF       | Golden State Warriors | 11.7105
Stephen Curry     | PG       | Golden State Warriors | 11.3708
Jason Thompson    | PF       | Golden State Warriors | 7.00847
Shaun Livingston  | PG       | Golden State Warriors | 5.54373
Harrison Barnes   | SF       | Golden State Warriors | 3.8734
Marreese Speights | C        | Golden State Warriors | 3.815
Leandro Barbosa   | SG       | Golden State Warriors | 2.5
... (4 rows omitted)

In [92]:
warriors.select('SALARY')

SALARY
15.501
14.2609
13.8
11.7105
11.3708
7.00847
5.54373
3.8734
3.815
2.5
... (4 rows omitted)

In [93]:
warriors.column('SALARY')

array([ 15.501   ,  14.26087 ,  13.8     ,  11.710456,  11.370786,
         7.008475,   5.543725,   3.873398,   3.815   ,   2.5     ,
         2.008748,   1.270964,   1.13196 ,   0.289755])

In [95]:
np.average(warriors.column('SALARY'))

6.7203669285714298