In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Lecture 11 #

## Grouping with Multiple Variables ##

In [ ]:
cones = Table.read_table('cones.csv')
cones

In [ ]:
survey = Table.read_table('welcome_survey.csv')
survey

## Pivot Tables ##

## Joins ##

In [ ]:
drinks = Table(['Drink', 'Cafe', 'Price']).with_rows([
    ['Milk Tea', 'Tea One', 4],
    ['Espresso', 'Nefeli',  2],
    ['Latte',    'Nefeli',  3],
    ['Espresso', "Abe's",   2]
])
drinks

In [ ]:
discounts = Table().with_columns(
    'Coupon % off', make_array(25, 50, 5),
    'Location', make_array('Tea One', 'Nefeli', 'Tea One')
)
discounts

## Table Manipulation Examples ##

In [ ]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

In [ ]:
# CHALLENGE QUESTION: for each team,
# amount paid to "starter" (player earning the most) in each position

In [ ]:
# CHALLENGE QUESTION: for each team,
# total amount paid to all "starters"

In [ ]:
standings = Table.read_table('nba_standings.csv')
standings